<h1>Stupid Coach</h1>
<form action="/answer" method="get">
  <label>Ask your coach anything :</label>
  <input type="text" name="question" placeholder="you text here">
  <input type="submit" value="Ask!" class="btn">
</form>
